[Desktop Entry]
Type=Application
Version=1.0
Name=Essora Installer
Name[es]=Instalador de Essora
Name[ca]=Instal·lador d'Essora
Name[fr]=Installateur Essora
Name[it]=Installatore Essora
Name[pt]=Instalador do Essora
Name[hu]=Essora telepítő
Name[ru]=Установщик Essora
Name[ja]=Essora インストーラー
Name[zh]=Essora 安装器
Name[ar]=مثبّت Essora
GenericName=System Installer
GenericName[es]=Instalador del sistema
GenericName[ca]=Instal·lador del sistema
GenericName[fr]=Installateur du système
GenericName[it]=Installatore di sistema
GenericName[pt]=Instalador do sistema
GenericName[hu]=Rendszertelepítő
GenericName[ru]=Установщик системы
GenericName[ja]=システムインストーラー
GenericName[zh]=系统安装器
GenericName[ar]=مثبّت النظام
Comment=Install Essora Linux to your computer
Comment[es]=Instalar Essora Linux en tu computadora
Comment[ca]=Instal·la Essora Linux a l'ordinador
Comment[fr]=Installer Essora Linux sur votre ordinateur
Comment[it]=Installa Essora Linux sul tuo computer
Comment[pt]=Instalar o Essora Linux no seu computador
Comment[hu]=Az Essora Linux telepítése a számítógépre
Comment[ru]=Установить Essora Linux на компьютер
Comment[ja]=Essora Linux をコンピューターにインストールします
Comment[zh]=将 Essora Linux 安装到你的电脑
Comment[ar]=تثبيت Essora Linux على الكمبيوتر
Exec=/usr/local/bin/essora-installer.sh
TryExec=/usr/local/bin/essora-installer.sh
Icon=/usr/local/essora-installer/icons/essora-installer.png
Terminal=false
Categories=Settings;DesktopSettings;GTK;Favorites;
StartupNotify=true
Keywords=installer;install;system;disk;partition;Essora;
Keywords[es]=instalador;instalar;sistema;disco;partición;Essora;
Keywords[ca]=instal·lador;instal·lar;sistema;disc;partició;Essora;
Keywords[fr]=installateur;installer;système;disque;partition;Essora;
Keywords[it]=installatore;installare;sistema;disco;partizione;Essora;
Keywords[pt]=instalador;instalar;sistema;disco;partição;Essora;
Keywords[hu]=telepítő;telepítés;rendszer;lemez;partíció;Essora;
Keywords[ru]=установщик;установка;система;диск;раздел;Essora;
Keywords[ja]=インストーラー;インストール;システム;ディスク;パーティション;Essora;
Keywords[zh]=安装器;安装;系统;磁盘;分区;Essora;
Keywords[ar]=مثبت;تثبيت;نظام;قرص;قسم;Essora;
